*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant-numeric: lining-nums;
    background-color: rgb(242, 244, 247);
    height: auto;
}

#wrapper {
    width: 80%;
    margin: auto;
}
header {
    width: 100%;
    margin: 5%;
    padding-top: 0%;
}
h1 {
    color: #031f46;
    font-size: 5em;
    line-height: 90%;
    text-transform:uppercase;
    font-weight: 800;
}

h2 {
    color: #ffffff;
    text-transform:uppercase;
    background-image: url("Images/blueBackground.jpg");
    background-repeat:no-repeat;
    height: auto;
    font-weight: 800;
}

ul#mainNav {
    list-style-type: none;
    text-transform:uppercase;
    font-weight: 700;
}

ul#mainNav a {
    text-decoration: none;
}

img {  
    width: 30%;
}

p { 
    font-family: Arial;
    text-align: left;
}

a:link {
    color:black;
}

a:visited {
    color: gray;
}

a:hover {
    color: blue;
}